body{
    width: 100%;
    border: 0px;
    margin: 0px;
    background-image: url("imagens/imagem-de-fundo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 650px;
    background-repeat: repeat-y;
}
header{
    background-color: #1DA1F2;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    color: white;
}
.icon{
    font-size: 2em;
    padding: 10px;
}
#blocks{
    display: flex;
}
.static{
    width: 600px;
    height: 300px;
    margin: 20px 10px 20px 50px;
    background-color: white;
}
#image{
    margin: 0px;
}
#interaction{
    width: 600px;
    /* height: 300px; */
    margin: 20px 50px 20px 10px;
    background-color: white;
}
.tweets{
    margin: 10px 50px;
    width: 500px;
    background-color: white;
    word-wrap: break-word;
    overflow-y: hidden;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid #1DA1F2;
    border-left: 0px;
}
.btn{
    margin: 10px 50px;
    background-color: #BEBEBE;
    padding: 10px;
    border: none;
}
#pressed{
    margin: 10px 50px;
    background-color: #1DA1F2;
    padding: 10px;
    border: none;
}
#count{
    color: blue;
}
.mensages{
    margin-left: 50px;
    margin-right: 90px;
}
#paragraphs{
    background-color: transparent;
    height: 0px;
}
.post{
    background-color: white;
    padding: 10px;
    border: 4px solid transparent;
    margin: 10px;
}